@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
body{
    height: 110vh;
}
.snap {
    border-radius: 100px;
    padding: 20px;
    border: 2px dashed black;
    transition: 0.3s;
    background-color: #5cb85c;
}

.snap:hover {
    box-shadow: 5px 5px 10px green inset,
        -5px 5px 10px green inset,
        5px -5px 10px green inset,
        -5px -5px 10px green inset;
}